body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
}
.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 8px;
}
.header-text {
    display: none;
}
.icon-link {
    color: #000;
    margin-left: 5px;
}
.icon-link-2 {
    color: #000;
    margin-right: 5px;
}
.icon-side {
    margin-right: 10px;
}
hr {
    border-top: 2px solid #e8e8e8;
}
.badge {
    display: flex;
    font-size: 11px;
    padding: 10px 15px;
    width: fit-content;
    margin-top: 10px;
}
.icon {
    width: 80px;
    height: auto;
}
.bolded {
    font-weight: 900;
}
.left {
    display: flex;
    align-items: center;
}
h1 {
    font-size: 34px;
    color: #FFF;
    padding: 10px 15px;
    font-family: 'Playball', cursive;
    margin: 0;
    text-shadow: 5px 5px #000;
}
h2 {
    display: inline;
    font-size: 24px;
}
h2 a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
}
h3 a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}
h4 {
    color: #FFF;
    margin: 0;
    font-size: 16px;
}
h5 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
}
.logo {
    width: 32px;
    height: 26px;
    margin-right: 10px;
}
.subtext {
    color: #848484;
    font-size: 14px;
}
.log {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}
p {
    font-size: 14px;
}
.top-container {
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../static/images/header.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 10px;
}
.nav-bar {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none;
    background-color: #1F2024;
    margin: 0;
    padding: 12px 0;
}
.nav-item {
    margin: 0px 8px;
}
.nav-link {
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;    
    transition: 0.4s;
}
.container {
    width: 100%;
    padding: 25px 15px;
}
.inner-container {
    width: 100%;
    padding: 25px 15px;
}
.wrapper {
    display: flex;
    justify-content: center;
}
.home {
    width: 100%;
    display: initial;
}
.edit {
    color: #000;
    text-decoration: none;
    margin-left: 10px;
}
footer {
    background-color: #e8e8e8;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.footer-content {
    padding: 20px;
    width: 100%;
}
.link {
    color: #000;
}
.posts {
    margin-right: 25px;
}
.recent-nav {
    padding: 10px;
    background-color: #e8e8e8;
}
.recent-nav h2 {
    font-size: 18px;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e8e8e8;
    margin: 50px 0;
    padding: 30px 40px;
}
.login-button {
    border: none;
    background-color: #1F2024;
    font-size: 14px;
    color: #FFF;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    display: block;
}
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
/*for mobile*/
[class*="col-"] {
    width: 100%;
}
/*for desktop*/
@media all and (min-width: 600px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    h1 {font-size: 75px;}
    .container {padding: 25px; width: 80%;}
    .home {display: flex;}
    p {font-size: 16px;}
    h2 a {font-size: 30px;}
    h2 {font-size: 30px;}
    .subtext {font-size: 16px;}
    .nav-bar {padding: 18px 0px;}
    .nav-link {font-size: 14px;}
    .header-content {width: 80%;}
    .footer-content {width: 80%;}
    .header-text {display: initial;}
    .badge {font-size: 14px; padding: 10px 15px;}
    .icon {width: 110px;}
    .recent-nav {padding: 20px;}
    .inner-container {width: 60%;}
    .nav-item {margin: 0 15px;}
}