{% extends "app/base.html" %}

{% block content %}
<div class="login-container">

    <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
    <h5>LOGIN</h5>
    <hr>

    {% if form.errors %}
        <p class="bolded">Username or password invalid. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-container">
            <label for="id_username" class="title-label">Username:</label>
            <input id="id_username" class="login-field" type="text" value="{{ form.username.value|default_if_none:"" }}" name="username" maxlength="100" required />
            <br>
            <label for="id_password" class="title-label">Password:</label>
            <input id="id_password" class="login-field" type="password" value="{{ form.password.value|default_if_none:"" }}" name="password" maxlength="100" required />
        </div>
        <input type="submit" class="login-button" value="SUBMIT"/>
    </form>
</div>
{% endblock %}