{% extends 'app/base.html' %}

{% block content %}
    <div class="inner-container">
        <h2>About the writer:</h2>
        <hr>
        <p>Jordan Tang is a Computer Science major out of Virginia Commonwealth University with a minor in Mathematics 
            set to graduate this upcoming May of 2017. He has a passion for front-end development but is also a capable 
            full-stack developer. Currently, he is working with Capital One while still tending to a number of his personal 
            coding related projects/research (including this blog!).</p>
            
        <p>Some things about Jordan outside of work: he loves basketball (big Knicks fan), art, good food, better music, and 
            dogs of all shapes and sizes.</p>

        <p>Check out his personal page, LinkedIn, Github, and Instagram for more.</p> 
        <div class="badge">
            <div class="bar">
            </div>
            <div class="icon-side">
                <img src="../../static/images/icon.png" class="icon">
            </div>
            <div>
                <span class="bolded">Jordan Tang</span><br>
                Software Engineer<br>
                Capital One<br>
                <a target="_blank" href="http://www.jordantang.com/" class="link">www.jordantang.com</a>
                <hr>
                <a target="_blank" class="icon-link-2" href="https://www.linkedin.com/in/jordan-tang/"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
                <a target="_blank" class="icon-link-2" href="https://github.com/tangjl/"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                <a target="_blank" class="icon-link-2" href="https://www.instagram.com/shakespls/"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a> 
            </div>
        </div> 
    </div>
{% endblock %}
        