{% extends 'app/base.html' %}

{% block content %}
    <div class="inner-container">
        <h2>About the blog</h2>
        <hr>
        <p>Welcome to "<span class="underlined">In Plain English</span>", a blog where the author, Jordan Tang, is here to explain various web development 
            related concepts or terms that are often hard to grasp for beginners who are just starting to get their feet wet 
            in web development. While you can Google most of the concepts discussed here, the aim of this blog is to explain 
            them in ways that anybody (at least an English speaker) could understand. Often times, in my experience, I just 
            want a simple, straight-forward explanation for a specific concept to get started. But more often than not, you 
            get very abstract and difficult to follow explanations from your research. So this blog is here to explain things 
            in plain English! Just look at it as a way for me to give a very high-level understanding of things without having 
            to wrack your brain rifling through dozens of articles on a given topic.<span class="bolded">*</span></p>
            
        <p>Anyways, feel free to take a look around, leave a comment, a suggestion, or any requests you my have. Hope this blog 
            proves useful and have fun learning! </p>

        <p><span class="bolded">*Note:</span> you should always do additional research on top of what is presented here. You should never rely on one single 
            source of information, and remember this is a basic explanation of sometimes complex concepts.</p>
    </div>
{% endblock %}
        